<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
    <form action="" method="post" >
        <label for="name">Podaj imie i nazwisko</label><br>
        <input type="text" name="name" id="name" placeholder="Jan Kowalski"><br><br>
        <label for="email">Podaj swoj email</label><br>
        <input type="email" name="email" id="email" placeholder="j.nowak@wp.pl"><br><br>
        <input type="submit" value="Wyślij">
    </form>

</body>
</html>